pip install datasets
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, precision_score, recall_score, f1_score, accuracy_score
from transformers import AutoTokenizer, AutoModelForSequenceClassification, Trainer,TrainingArguments
from datasets import Dataset
import torch
import re
import nltk
from nltk.corpus import wordnet
import random
nltk.download('wordnet')
nltk.download('omw-1.4')
from transformers import pipeline
import tensorflow as tf
from transformers import pipeline
from transformers import AutoModelForCausalLM
from transformers.pipelines.pt_utils import KeyDataset